<div class="hero-unit">
  <h1>Sistema de Gestión</h1><br/>
  <p>Queremos ofrecer  una  limpieza  profesional de excelencia en  todas las áreas de la Clínica, con un estándar de servicio que dé garantías de inocuidad a los procesos clínicos, adecuada para el paciente, visitantes y personal contribuyendo a preservar la sanidad del medioambiente. Todo, sobre la base de un esmerado trato al paciente.</p>
  <p>

<h3>En esta aplicación usted podrá:</h3>
<ol class="round">
    <li class="one">
        <h5>Gestionar plantel de empleados</h5>
        Permite crear fichas de empleados, desvincular, registrar asistencia y llevar la gestión de turnos y vacaciones.
    </li>

    <li class="two">
        <h5>Crear y administrar turnos de trabajo</h5>
        Permite crear módulos horarios de trabajo y gestionar la vigencia de los mismos.
    </li>

    <li class="three">
        <h5>Gestionar los Espacios de la Clínica</h5>
        Permite llevar el control del estado de aseo de los espacios de la clínica.
    </li>

    <a class="btn btn-primary btn-large">
      Ver más
    </a>
  </p>
</div>


</ol>
